In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt

In [18]:
zerg_df = pd.read_csv("Zerg\zerg-data.csv")
zerg_df

,race_vs,natural_saturation_time,third_saturation_time,army_supply,1_1_attack_time,aggression,result
0,p,4:20,5:50,46.0,8:20,0,l
1,t,3:50,5:30,105.0,10:00,0,w
2,p,4:30,6:00,61.0,8:18,0,l
3,t,5:00,6:00,46.0,9:45,3,w
4,t,4:27,6:17,51.0,8:39,0,w
5,z,7:00,NaN,NaN,NaN,5,w
6,p,NaN,NaN,NaN,NaN,5,l
7,t,4:52,11:40,115.0,16:45,4,l
8,t,6:01,NaN,NaN,NaN,4,w

In [21]:
zerg_df.corr(numeric_only=True)

             army_supply  aggression
army_supply      1.00000     0.36197
aggression       0.36197     1.00000

In [11]:
zerg_df.loc[zerg_df['race_vs'] == 't']

,race_vs,natural_saturation_time,third_saturation_time,army_supply,1_1_attack_time,aggression,result
1,t,3:50,5:30,105.0,10:00,0,w
3,t,5:00,6:00,46.0,9:45,3,w
4,t,4:27,6:17,51.0,8:39,0,w
7,t,4:52,11:40,115.0,16:45,4,l
8,t,6:01,NaN,NaN,NaN,4,w

In [13]:
zerg_df.loc[zerg_df.race_vs == 'p']

,race_vs,natural_saturation_time,third_saturation_time,army_supply,1_1_attack_time,aggression,result
0,p,4:20,5:50,46.0,8:20,0,l
2,p,4:30,6:00,61.0,8:18,0,l
6,p,NaN,NaN,NaN,NaN,5,l

In [14]:
zerg_df.loc[zerg_df.race_vs == 'z']

,race_vs,natural_saturation_time,third_saturation_time,army_supply,1_1_attack_time,aggression,result
5,z,7:00,NaN,NaN,NaN,5,w