In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Zerg\zerg-data.csv")
df

,race_vs,natural_saturation_time,third_saturation_time,army_supply,1_1_attack_time,aggression,result
0,p,4:20,5:50,46.0,8:20,0,l
1,t,3:50,5:30,105.0,10:00,0,w
2,p,4:30,6:00,61.0,8:18,0,l
3,t,5:00,6:00,46.0,9:45,3,w
4,t,4:27,6:17,51.0,8:39,0,w
5,z,7:00,NaN,NaN,NaN,5,w
6,p,NaN,NaN,NaN,NaN,5,l
7,t,4:52,11:40,115.0,16:45,4,l
8,t,6:01,NaN,NaN,NaN,4,w
9,z,5:36,7:43,45.0,9:39,3,w

In [3]:
def time_to_sec(data):
    cols = data.columns
    for col in cols:
        for i, e in enumerate(df[f"{col}"]):
            try:
                if e[-3] == ':':
                    a = e.split(':')
                    lst2 = [float(x) for x in a]
                    tot_seconds = 60 * lst2[0] + lst2[1]
                    current_col = df[f"{col}"]
                    current_col[i] = tot_seconds
            except:
                pass
time_to_sec(df)
df

C:\Users\gkerr\AppData\Local\Temp\ipykernel_11428\3032593365.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_col[i] = tot_seconds

,race_vs,natural_saturation_time,third_saturation_time,army_supply,1_1_attack_time,aggression,result
0,p,260.0,350.0,46.0,500.0,0,l
1,t,230.0,330.0,105.0,600.0,0,w
2,p,270.0,360.0,61.0,498.0,0,l
3,t,300.0,360.0,46.0,585.0,3,w
4,t,267.0,377.0,51.0,519.0,0,w
5,z,420.0,NaN,NaN,NaN,5,w
6,p,NaN,NaN,NaN,NaN,5,l
7,t,292.0,700.0,115.0,1005.0,4,l
8,t,361.0,NaN,NaN,NaN,4,w
9,z,336.0,463.0,45.0,579.0,3,w

In [4]:
df.corr()

C:\Users\gkerr\AppData\Local\Temp\ipykernel_11428\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

             army_supply  aggression
army_supply      1.00000     0.19298
aggression       0.19298     1.00000